<!DOCTYPE HTML>
<html> 
<body> 
<script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script> <script charset="utf-8"> 
var apiKey = '45644852';var sessionId = '1_MX40NTY0NDg1Mn5-MTQ3MjYyNTgwMDI1Nn5DRkxZQ2lRS3dBV3hNcjM0QnF3VkNYQjB-fg';var token = 'T1==cGFydG5lcl9pZD00NTY0NDg1MiZzZGtfdmVyc2lvbj1kZWJ1Z2dlciZzaWc9ZGE4YjI0ZGFhNmNmOGQwYmQzZjg1ZGNiMGU0ZmJlNTlmOTJjYTk5MTpzZXNzaW9uX2lkPTFfTVg0ME5UWTBORGcxTW41LU1UUTNNall5TlRnd01ESTFObjVEUmt4WlEybFJTM2RCVjNoTmNqTTBRbkYzVmtOWVFqQi1mZyZjcmVhdGVfdGltZT0xNDcyNjI1ODAwJnJvbGU9bW9kZXJhdG9yJm5vbmNlPTE0NzI2MjU4MDAuMzA0OTY3NjIyODQyNSZleHBpcmVfdGltZT0xNDc1MjE3ODAw'; var session = OT.initSession(apiKey, sessionId) .on('streamCreated', function(event) { session.subscribe(event.stream); }) .connect(token, function(error) { var publisher = OT.initPublisher(); session.publish(publisher); }); </script> </body> </html>
